* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #e3eaf7;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
}

header {
    background-color: rgb(60, 60, 236);
    color: #fff;
    padding: 24px 0;
    margin-bottom: 56px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 32px;
    font-weight: bold;
}

nav li {
    list-style: none;
    display: inline;
    padding: 0 8px;
    font-size: 24px;
    font-weight: 400;
}

nav li a {
    text-decoration: none;
    color: #fff;
    transition: all ease .4s;
}

nav li a:hover {
    color: rgb(29, 29, 124);
}

#sobre {
    margin-bottom: 56px;
}

#sobre .container {
    display: flex;
}

#sobre img {
    margin-right: 32px;
    width: 450px;
    height: 450px;
    max-width: 100%;
}

#sobre h2 {
    margin-bottom: 32px;
    padding: 8px;
    border: none;
    border-bottom: 4px solid rgb(60, 60, 236);
    color: rgb(60, 60, 236);
    text-transform: uppercase;
}

#sobre p {
    padding-bottom: 8px;
}

#produtos h2 {
    margin-bottom: 32px;
    padding: 8px;
    border: none;
    border-bottom: 4px solid rgb(60, 60, 236);
    color: rgb(60, 60, 236);
    text-transform: uppercase;
}

#produtos ul {
    display: grid;
    grid-template-columns: repeat(4, 24.25%);
    column-gap: 1%;
    row-gap: 5%;
}

#produtos ul li {
    list-style: none;
}

#produtos ul li img {
    width: 250px;
    max-width: 100%;
    height: 250px;
    max-height: 100%;
    margin-bottom: 16px;
}

#produtos ul li h3 {
    padding-bottom: 16px;
}

#produtos ul li p {
    padding: 16px 0;
}

#produtos ul li button {
    width: 100%;
    padding: 8px 0;
    background-color: rgb(60, 60, 236);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all ease .4s;
}

#produtos ul li button:hover {
    background-color: rgb(29, 29, 124);
}

footer {
    display: flex;
    justify-content: center;
    padding: 12px 0;
    margin-top: 150px;
    background-color: rgb(60, 60, 236);
    color: #fff;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    font-weight: 400;
}

@media screen and (max-width: 640px) {
    .container {
        max-width: 80%;
    }

    header {
        width: 100%;
    }
    
    header .container {
        flex-direction: column;
        align-items: center;
    }
    
    h1 {
        font-size: 2.5em;
        margin-bottom: 32px;
    }

    nav li a:hover {
        border-top: 1px solid #fff;
    }

    #sobre .container {
        display: block;
    }
    
    #sobre img {
        width: 100%;
        margin-bottom: 48px;
        margin-right: 0;
        object-fit: cover;
        max-height: 100vw;
    }
    
    #produtos ul {
        display: block;
    }
    
    #produtos ul li {
        margin-bottom: 64px;
        width: 100%;
    }
    
    #produtos ul li img {
        width: 100%;
        height: auto;
        max-width: 100%;
        max-height: 100vw;
        object-fit: cover;
    }
    
    #produtos ul li h3 {
        font-size: 2em;
    }

    #produtos ul li strong {
        font-size: 1.5em;
    }
    
    #produtos ul li p {
        font-size: 1em;
    }
    
    #produtos ul li button {
        margin-top: 16px;
    }
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    .container {
        max-width: 90%;
    }
    
    #sobre .container {
        display: block;
    }
    
    #sobre img {
        margin-right: 0;
        height: auto;
        width: 100%;
        margin-bottom: 56px;
    }

    #sobre h2 {
        font-size: 2em;
    }
    
    #sobre p {
        font-size: 1.5em;
    }

    #produtos h2 {
        font-size: 2em;
    }
    
    #produtos ul {
        display: grid;
        grid-template-columns: repeat(2, 48%);
        column-gap: 2%;
    }
    
    #produtos ul li img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        height: 300px;
    }
    
    #produtos ul li h3 {
        font-size: 1.5em;
    }
    
    #produtos ul li strong {
        font-size: 1.5em;
    }
    
    #produtos ul li button {
        font-size: 1.5em;
    }
}